.invitations-container {
  margin-top: 1rem;
}

.requests-container {
  margin-top: 1rem;
}

.invitations-list {
  border-radius: 1.2rem;
}

.invitations-list-item {
  background: rgba(255, 255, 255, 0.05) !important;
  border: 1px solid rgba(255, 255, 255, 0.15) !important  ;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow:
    inset 0 0 0.5px rgba(255, 255, 255, 0.25),
    inset 0 0 5px rgba(255, 255, 255, 0.06),
    0 8px 16px rgba(0, 0, 0, 0.4),
    0 4px 6px rgba(255, 255, 255, 0.03);
  transition: all 0.3s ease;
  cursor: pointer;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  color: #f6f6f6;
}

.invitations-list-item h4 {
  margin-bottom: 0.5rem;
}

.invite-text {
  color: #aaa;
  margin-left: 1rem;
}

.invite-accept-btn,
.invite-decline-btn {
  border-radius: 1.2rem;
  padding: 0.5rem;
  min-width: 120px;
  width: 120px;
  text-align: center;
  display: block;
  margin: 0.2rem 0.2rem;
}

.request-list-item {
  background-color: #1f1f1f !important;
  border: none !important;
  padding: 1rem;
  color: #f6f6f6;
  border-radius: .5rem;
}

.requests-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.7rem;
}

@media (max-width: 991px) {
  .requests-grid {
    grid-template-columns: 1fr;
  }
}
