.invitations-container {
  margin-top: 1rem;
}

.requests-container {
  margin-top: 1rem;
}

.invitations-list {
  border-radius: 1.2rem;
}

.invitations-list-item {
  background-color: #1f1f1f !important;
  border: none !important;
  padding: 1rem;
  color: #f6f6f6;
}

.invitations-list-item h4 {
  margin-bottom: 0.5rem;
}

.invite-text {
  color: #aaa;
  margin-left: 1rem;
}

.invite-accept-btn,
.invite-decline-btn {
  border-radius: 1.2rem;
  padding: 0.5rem;
  min-width: 120px;
  width: 120px;
  text-align: center;
  display: block;
  margin: 0.2rem 0.2rem;
}

.request-list-item {
  background-color: #1f1f1f !important;
  border: none !important;
  padding: 1rem;
  color: #f6f6f6;
  border-radius: .5rem;
}

.requests-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

@media (max-width: 768px) {
  .requests-grid {
    grid-template-columns: 1fr;
  }
}
