body {
  background-color: black !important;
}

#home{
  display: flex;
  height: 100%;   
}

.left-side {
  display: flex;
  flex-direction: column;
  width: 47%;
  box-sizing: border-box;
  /* background-color: bisque; */
  margin: .85rem 1rem;
}

.top-left{
  height: 25rem; 
  box-sizing: border-box;
  padding: .5rem;
  background-color: transparent;
  margin-bottom: .5rem;
}
.bottom-left {
  height: 45%; 
  box-sizing: border-box;
  padding: .5rem;
  margin-top: .5rem;
  background-color: transparent;
}


.top-left::-webkit-scrollbar,
.bottom-left::-webkit-scrollbar {
  display: none;
}



.right-side {
  flex: 1;
  padding: .5rem;
  padding-right: 4rem;
  box-sizing: border-box;
  margin: 1rem;
  scrollbar-width: 0;
}


.right-side::-webkit-scrollbar {
  display: none;
}

.right-side h1{
  text-align: left;
  color: #f6f6f6;
  font-weight: 600;
  margin-bottom: 2.75rem !important;
}

.graph-container{
  background-color: #1f1f1f;
  border-radius: 1rem;
  min-height: 40%;
  transition: 0.2s ease-in-out;
}

.graph-container:hover{
  transform: scale(1.01);
}


.graph-container:active{
  transform: scale(1);
}

.footer{  
  position: sticky;
  margin-top: 9rem;
}

.footer h1{
  text-align: right;
  color: #0f0f0f !important;
  font-weight: 600;
}

.footer h4{
  text-align: right;
  color: #0f0f0f !important;
  margin-top: -3rem;
}

@media (max-width: 991px) {
  #home {
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .left-side,
  .right-side {
    width: 100%;
    margin: 0;
    padding: 0.5rem;
  }

  .right-side {
    padding: 2rem;
  }
  .footer {
    margin-top: 2rem;
    text-align: center;
  }
}