.react-calendar {
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.05) !important;
  border: 1px solid rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow:
    inset 0 0 0.5px rgba(255, 255, 255, 0.25),
    inset 0 0 5px rgba(255, 255, 255, 0.06),
    0 8px 16px rgba(0, 0, 0, 0.4),
    0 4px 6px rgba(255, 255, 255, 0.03);
  color: #f6f6f6 !important;
  transition: all 0.3s ease;
  user-select: none;
  padding: 0.2rem;
}

.deadline-count {
  background-color: #e74c3c;
  color: white !important;
  border-radius: 10rem;
  font-size: 0.75rem;
  height: 0.9rem;
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  text-align: center;
  position: absolute;
}

.react-calendar__tile{
    color: white;
    min-height: 3rem;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.react-calendar__tile--now{
    background-color: orange;
    border-radius: 100rem;
}

.react-calendar__tile--active{
    border-radius: 100rem;
}

.react-calendar__navigation,
.react-calendar__navigation__label,
.react-calendar__navigation__arrow,
.react-calendar__navigation__prev-button,
.react-calendar__navigation__next-button,
.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
  color: white;
  fill: white;
}
.react-calendar__tile:hover,
.react-calendar__navigation button:hover {
  background-color: #393939 !important;
  border-radius: 100em !important;
  transition: border-radius 0.2s ease, background-color 0.2s ease;
}